[spotify]
client_id = "{{ spotify_client_id }}"
client_secret = "{{ spotify_client_secret }}"

[deemix]
base_url = "http://localhost:{{ deemix_port }}"
arl = "{{ deemix_arl }}"

[download]
output_dir = "{{ download_dir }}"
max_per_user = 5
